.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inner {
  box-sizing: border-box;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: #000;
}

.header .inner {
  padding: 10px 20px;
}

.main_title {
  overflow: hidden;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -1px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main {
  flex: 1 1 auto;
  padding-top: 50px;
}

.footer {
  background: #000;
  color: #fff;
}
