.change_button_area {
  padding-bottom: 20px;
}

.length {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

.button {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #000;
  background: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #000;
}

.button:first-of-type {
  margin-right: 5px;
}

.button:disabled {
  background: #ddd;
  font-weight: 400;
  color: #666;
}

.text {
  font-size: 20px;
  line-height: 26px;
}

.text + .text {
  margin-top: 20px;
}
